* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    background-color: #fff;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 30px;
}


h2 {
    margin-bottom: 50px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 40px 0;
    text-transform: uppercase;
    text-shadow: 3px 3px #bdb9b4;
}


/* main Screen*/
.mainPage {
    background: url(../img/background.jpg);
    background-position: 0 0; 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    height: 100vh;
    position: relative;
}

 .mainPage__title {
     display: block;
     width: 100%;
     position: absolute;
     top: 40%;
     color:#fff;
     font-size: 92px;
     z-index: 5;
     text-align: center;
 }

 .mouse {
    height: 50px;
    width: 100%;
    background: url(../img/mouse.png) top center no-repeat;
    position: absolute;
    top: 80%;
    text-align: center;
 }

 .mouse:hover { 
    top: 80.5%;
 }



section {
    margin: 100px 0;
}

h5 {
    font-size: 22px;
}

p{
    margin: 14px 0;
    font-size: 20px;
}

hr {
    margin: 18px 0;
}
a {
    display: inline-block;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    color:rgb(119, 132, 221);
    transition-duration: 700ms;
}
    a:hover {
        color:rgb(5, 24, 148);
    }
    a:after {
        background-color: rgb(5, 24, 148);
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        -webkit-transition: width .4s ease-in-out;
        -moz--transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
    }
a:hover:after,a:focus:after {width: 100%;}

/*  */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(161, 157, 157);
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.header__logo {
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
}
.header__logo img{
    max-width: 100%;
    display: block;
}
.header__burger {
    display: none;
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li {
    list-style: none;
    margin: 0 0 0 25px;
}
.header__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    padding: 0 18px;
}

@media (max-width: 1168px) {
    .mainPage {
        display: none;
        }
    .header:before {
        background-color:  rgba(121, 121, 121, 1);
        }
    }

@media (max-width: 767px){
        body.lock {
            overflow: hidden;
        }
        .header__body {
            height: 50px;
        }
        .header__logo {
          flex: 0 0 40px;
        }
        .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
        }

        .header__burger span{
            position: absolute;
            background: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        .header__burger:before,
        .header__burger:after {
            content:'';
            background: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        .header__burger:before{
            top: 0;
        }
    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu{
        position: fixed;
        top: -110%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.6s ease 0s;
        background-color:#18b5a4;
        padding: 70px 10px 20px 20px;
    }
    .header__menu.active{
        top: 0;
    }

    .header__list{
        display: block;
    }
    .header__list li{
        margin: 0 0 20px 0;
    }
}


/*  */






footer {
    text-align: center;
}



.foto {
    width: inherit;
    filter: grayscale(20%);
    border-radius: 12px;
    box-shadow: 3px -2px 5px 1px rgba(143,137,143,.37);
}

.foto:hover {
    filter: grayscale(0%);
    filter: brightness(110%);
}



/* skils spoler */
.service__content-tabTitle {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}

    /* .service__content-tabTitle.active {
        margin-bottom: 0;
    } */
        .service__content-tabTitle.active::before {
            transform: rotate(40deg);
        }
        .service__content-tabTitle.active::after {
            transform: rotate(-40deg);
        }

    .service__content-tabTitleText {
            padding-left: 15px;
            display: flex;
            align-items: center;
        }

        .service__content-tabTitle::before, 
        .service__content-tabTitle::after {
            content:'';
            width: 14px;
            height: 2px;
            background-color:#cccccc;
            position: absolute;
            top: 33px;
            transition: all 0.3s ease 0s;
        }
        .service__content-tabTitle:before {
            transform: rotate(-40deg);
            right:20px
        }
        .service__content-tabTitle:after {
            transform: rotate(40deg);
           right: 30px;
        }


.service__content-tabText {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    display: none;
}

/*  */


.skills {
    box-sizing: border-box;
    font-size: 15px;
    margin-top: 15px;
    text-align: left;
    padding-left: 12px;
    color: aliceblue;
    background: rgb(48, 47, 47);
}

.html_css { width: 30%; }
.wp { width: 20%; }
.js { width: 20%; }
.sass { width: 35%; }
.vue { width: 25%; }



/* Ab_me */
    .about__content {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        .about__content-right {
            flex: 0 1 45%;
            padding-right: 20px;
        }
        .about__content-left {
            flex: 0 1 45%;
            padding-left: 20px;
        }

  

.item-filling img{
    max-height: 150px;
    margin-bottom: 33px;
}

.item-border {
    text-align: center;
    border-radius: 12px;
    margin-bottom: 30px;
    box-sizing: border-box;
    box-shadow: 3px -2px 5px 1px rgba(143,137,143,.37);
}

.item-border:hover {
    background-color: rgba(247, 245, 245, 0.075);
    opacity: 0.7;
    
}

.item-filling {
    font-size: 18px;
    padding: 10%;
}

.calc:hover,.online_store:hover,.lending:hover {
    -webkit-transition:0.3s;
    transition:0.3s;
    border: 4px solid black;
    font-style: italic;

}


.calc a,.online_store a,.lending a{ 
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 4px;
}

.end{
    margin-top: 50px;
    background-color: #689CD2;
}

.end img {
    width: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.modalContacts {
    color: #fff;
    font-size: 18px;
}

.modalContacts__title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.button_writeAutor {
    font-size: 16px;
    padding: 10px 15px;
    position: fixed;
    top: 85%;
    right: 3%;
    background: rgb(114, 114, 114);
    border: 1px solid rgb(90, 90, 90);;
    border-radius: 14px;
    box-shadow: 3px -2px 5px 1px rgb(133, 133, 134);;
    color: #fff;
    cursor: pointer;
    transition-duration: 600ms;
}

    .button_writeAutor:hover {
        top: 84.8%;
        background: rgb(24, 24, 24);
    }


#portfolio {
    margin-top: 90px;
}

.tabs__items {
    margin-top: 60px;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.tabs__block {
    display: none;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
    #tab__01 {
        display: flex;
    }

    .tabs__block-items {
        flex-basis: 282px;
    }



    
    /*media*/

    @media (max-width: 1120px) {
        .container {
            max-width: 970px;
        }
        h5 {
            font-size: 16px;
        }
        
        p{
            margin: 8px 0;
            font-size: 16px;
        }
       
    }
    @media (max-width: 992px) {
        .container {
            max-width: 750px;
            padding: 0 15px;
        }
        p{
            font-size: 14px;
        }
        .tabs__block {
            justify-content: space-around;
        }
        .tabs__block-items {
            flex-basis: 263px;
        }
        .tabs__items {
            font-size: 16px;
        }
    }

    @media (max-width: 767px) {
        .container {
            max-width: none;
            padding: 0 9px;
        }
        .writeAutor {
            display: none;
        }
        .contact__foto {
            display: none;
        }
        p{
            font-size: 12px;
        }
        .tabs__items {
            font-size: 12px;
        }
        .about__content-right {
            padding-right: 10px;
        }
        .about__content-left {
            padding-left: 10px;
        }

    }

    

/* slider */
    .slider {
        position: relative;
    }
    .slider .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        width: 20px;
        height: 37px;
        border:none;
    }

        .slider .slick-arrow.slick-prev {
            left: 12px;
            background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;

        }
        .slider .slick-arrow.slick-next {
            right: 12px;
            background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
        }

    .slick-track {
        display: flex;
        align-items: center;
    }
    .slick-list {
        overflow: hidden;
    }

    .slider__item img {
        width: inherit;
        border-radius: 6px;
    }

    .slider .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider .slick-dots li {
        list-style: none;
        margin: 0 10px;
    }
    .slider .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color:#bebebe;
        border: 1px solid #bebebe;
        border-radius: 50%;
    }

    .slider .slick-dots li.slick-active button {
        background-color: transparent;
        border: 1px solid black;
    } 