html, body {
    min-width: 1200px;
}

h1 {
    margin-top: 20px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 56px;
}
.textarea {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
#area {
    box-shadow: 3px -3px 5px 0px rgba(146, 146, 146, 0.75);
    font-size: 16px;
}

.menu {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}
.clear {
    color: darkgreen;
    margin-right: 10px;
    font-size: 18px;
    padding: 4px 16px;
    border: 1px solid grey;
    border-radius: 16px;
    transition: all ease 0.4s;
}

.sound {
    margin-right: 10px;
    font-size: 18px;
    padding: 4px 16px;
    border: 1px solid gray;
    border-radius: 16px;
    transition: all ease 0.4s;
}

.kb {
    display: flex;
    justify-content: center;
}
.keyboard {
    box-shadow: 4px -4px 5px 0px rgba(124, 123, 123, 0.75);
    text-align: center;
    border: 2px solid gray;
    border-radius:8px; 
    padding: 20px;
    display: inline-block;
    position: relative;
}

.line {
    display: flex;
    align-items: center;
}

.key, .key2, .ctrl, .gap {
    height: 50px;
}

.key {
   
 }

.key:hover {
    color: #fff;
    cursor: pointer;
    background: rgb(187, 187, 187);
    box-shadow: 4px -4px 6px 0px rgba(156, 156, 156, 0.75);
}

.key, .key2 {
    box-shadow: 2px -2px 5px 0px rgba(167, 166, 166, 0.75);
    font-size: 20px;
    margin: 5px;
    width: 50px;
    border: 1px solid black;
    border-radius: 4px; 
    text-align: center;
    line-height: 50px;
}

.key2 {    
    width: 62px;
}

.backspace {
    width: 105px;
}

.tab, .caps {
    width: 70px;
}

.shleft {
    width: 160px;
}

.enter {
    position: absolute;
    height: 113px;
    width: 80px;
    top: 81px;
    right: 25px;
}

.ctrl {
    width: 70px;
}

.gap {
    width: 360px;
}

