.slider {
    width: 880px;
    height: 535px;
    margin: 100px auto;
    border: 1px solid black;
    position: relative;
}

.slider-body {
    width: 800px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 0;
}

.slider-body img {
    transition: all ease 1s;
    overflow: hidden;
    opacity: 0;
    position: absolute;
}

.slider ul {
    list-style: none;
    padding-left: 0;
    margin-top: 120px;
}

.slider ul li { 
    margin: 20px;
}

.slider ul li a { 
    display: block;
    color: white;
    background: #689CD2;
    width: 32px;
    height: 32px;
    text-align: center;
    border: 1px solid #689CD2;
    border-radius: 100%;
    text-decoration: none;
    line-height: 28px;
}

.slider ul li a:hover { 
    color: #689CD2;
    background: white;
}

.slider-body img:target {
    opacity: 1;
}

#kpi1 {
    opacity: 1;
}