html, body {
    margin: 0;
    padding: 0;
    color: #212121;
    font-family: "Open Sans";
    
}

a { text-decoration: 0; }

li { list-style: none; }

h1 {
    padding-top: 120px;  
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-align: center;
}
p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
}
.container {
    max-width: 1172px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    margin-top: 120px;
    margin-bottom: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* header */
.header {
    width: 100%;
    font-family: "Open Sans - Semibold";
}

.header__body {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    flex: 1 0 80px;
    font-size: 20px;
}

.header__burger {
    display: none;
}
.header__list {
    display: flex;
}

.header__list li {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 0 25px;
}

.header__list li a{
    color:black;
}

.header__list li a:hover {
    color:#00897b;
}

    @media (max-width: 922px){
        body.lock {
            overflow: hidden;
        }
        .header__body {
            height: 60px;
        }
        .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
        }

        .header__burger span{
            position: absolute;
            background: black;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        .header__burger:before,
        .header__burger:after {
            content:'';
            background: black;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        .header__burger:before{
            top: 0;
        }
    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu{
        position: fixed;
        top: -110%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.6s ease 0s;
        background-color:#18b5a4;
        padding: 70px 10px 20px 20px;
    }
    .header__menu.active{
        top: 0;
    }

    .header__list{
        display: block;
        
    }
    .header__list li{
        text-align: center;
        margin: 0 0 20px 0;
    }
}

/* /header */





.menu__items li{
    margin-right: 15px;
}

.menu__items a {
    text-decoration: none;
    color: #212121;
}
.webDevBanner {
    background: url(img/webDevBanner.jpg) no-repeat;
    background-size: cover;
    height: 782px; 
}

.webDevBanner__content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.webDevBanner__title {
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 60px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 3px;

}

.webDevBanner__text {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
}

.webDevBanner__buttons {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.webDevBanner__btn-OS, .webDevBanner__btn-HIN {
    margin: 0 10px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    padding: 28px 35px;

}
.webDevBanner__btn-OS {
    border: 3px solid #f8f8f8;
}

.webDevBanner__btn-HIN {
    background-color: #00897b;
    border: 3px solid 00897b;
}


.awesomeIcons, .one_Page, .fully_Responsive {
    width: 28%;
    text-align: center;
    flex-basis: 320px;
}

.ourServices {
    background: #e4fdf9;
}


.ourServices__row-active, .ourServices__row-deactive {
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    width: 33%;
    flex-basis: 360px;
    background: #ffffff;
    margin-bottom: 50px;
} 

.ourServices__row-active {
    background: #00897b;
    color: #ffffff;
}

.ourServices__row-deactive h2 {
    font-family: "Open Sans - Semibold";
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
}

.ourServices__row-active h2 {
    color: #ffffff;
}

.ourServices__row-deactive p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
}

.ourServices__row-active p {
    color: #ffffff;
}

.ourServices__row-btn {
    margin-top: 45px;
    color: #212121;
    font-family: "Open Sans - Semibold";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 10px;
    border: 2px solid #212121;
}

.ourServices__row-active .ourServices__row-btn {
    color: #ffffff;
    border: 2px solid #ffffff;
}


.latestWorks__rowItems-active, .latestWorks__rowItems-deactive {
    padding: 10px 20px;
    border: 2px solid #00897b;
    margin-right: 10px;
    margin-left: 10px;
}   

.latestWorks__rowItems-active {
    color: #fff;
    background: #00897b;
}

.latestWorks__rowItem {
    margin: 15px;
    width: 32%;
    flex-basis: 360px;
}

.latestWorks__rowItem img {
    width: 100%;
    height: 100%;
    opacity: 1;
}


.latestWorks__rowItem-active {
    opacity: 0.5;
}
.btn__center {
    margin-top: 120px;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    border: 1px solid #00897b;
    background: #00897b;
    color: #ffffff;
    text-transform: uppercase;
    padding: 28px 62px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
}

.pricingPlan {
    background: #f0f0f0;
}

.pricingPlan__rowItem {
    margin-right: 10px;
    margin-left: 10px;
    width: 31%;
    background: #ffffff;
    flex-basis: 370px;
}

.pricingPlan__rowItem-img {
    background: url('img/Rectangle_14.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 209px;
}

.pricingPlan__rowItem-title {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.25px;
}

.pricingPlan__rowItem-text {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #ffffff;
   
}

.span__top {
    font-size: 25px;
    letter-spacing: 1.25px;
}

.span__center {
    font-size: 50px;
    letter-spacing: 2.5px;
}

.span__down {
    font-size: 17px;
    letter-spacing: 0.85px;
}

.pricingPlan__rowItem-link {
    margin-top: 40px;
    display: flex;justify-content: center;
}

.pricingPlan__rowItem-linkText {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.85px;
    line-height: 2;
}

.btn__center-pP {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.btn-pP {
    display: inline-block;
    border: 2px solid #000000;
    background: transparent;
    padding: 28px 62px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
}

.btn-pP-act {
    background-color: #00897b;
    border: 2px solid #00897b;
    color: #ffffff;
    text-transform: uppercase;
    padding: 23px 28px;
}

.ourTM__item {
    flex-basis: 390px;
}

.ourTM__item h5 {
    text-align: center;
    font-family: "Open Sans - Semibold";
    font-size: 20px;
    letter-spacing: 1px;
}

.ourTM__item h6 {
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.75px;
}

.icons {
    text-align: center;
}

.facebook, .otherIcons {
    display: inline-block;
    border-radius: 10px;
    font-size: 30px;
    background-color: #f0f1f1;
    color: #00897b;
    padding: 6px 10px;

    margin-right: 10px;
    margin-left: 10px;
}

.facebook {
    background-color: #3949ab; 
    color: #ffffff;
    padding: 6px 15px;
}

.blog {
    background: #e4fdf9;
}

.blogItems, .blogItems-img {

    flex-basis: 550px;
}

.blogItems__title, .blogItems__title-active {
    margin-top: 60px;
    margin-bottom: 25px;
    font-family: "Open Sans - Semibold";
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.25px;
}

.blogItems__title-active {
    color: #00897b;
}

.blogItems__calendar {
    font-family: "Open Sans - Semibold";
    font-size: 17px;
    letter-spacing: 0.85px;
}

.blogItems__text {
    margin-top: 25px;
    font-size: 15px;
    letter-spacing: 0.75px;
}

.row__items-img{
    flex: 0 0 570px;
}


.row__items-text{
    flex: 0 1 570px;
    padding: 0px 0px 25px 25px;
}
.blog__row{
    display: flex;
}
.row__items{
    display: flex;
    /* flex-wrap: wrap; */
}

/**/
   
    
@media screen and (max-width: 922px) {
    .row__items{
        justify-content: center;
        flex-wrap: wrap;
    }
    .webDevBanner__btn-OS, .webDevBanner__btn-HIN {
        font-size: 16px;
        line-height: 20px;
        padding: 23px 30px;
    
    }
}

       

/**/



@media screen and (max-width: 1200px) {
    .webDevBanner__title {
        font-size: 42px;
    }
    .webDevBanner__text{
        font-size: 16px;
    }
    .row {
        justify-content: space-around;
    }
.pricingPlan__rowItem, .ourTM__item  {
        margin-bottom: 20px;
    }
}
