html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f8f9;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

li { list-style-type: none; /* Убираем маркеры */   }

a { text-decoration: none; /* Отменяем подчеркивание у ссылки */   } 

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}



.wrapper{
    overflow: hidden;
    min-height: 100%;
}

section{
    margin-bottom: 50px;
}

.ibg{
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 
    position: relative;
    }
    
    .ibg img{
    width: 0; 
    height: 0; 
    position: absolute; 
    top: 0; left: 0; 
    opacity: 0; 
    visibility: hidden;    
    }
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
   }
.main-screen{
    flex: 1 0 100%;
    position: relative;
    }
    .main-screen__bg{
        position: absolute;
        width: 100%;
        height: 90%;
        top: 10%;
        left: 0;
    }



/* header */
.header{
    position: absolute;
    width: 100%;
    z-index: 50;
    color:#4a4a4a;
}
.header__row{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
}
.menu__link{
    color: #4a4a4a;
    text-transform: uppercase;
    padding-right: 50px;
}

.header__logo {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 900;
}

@media (max-width: 992px) {
    .header__row{
        padding-top: 24px;
        padding-left: 25px;
    }
    body.lock {
        overflow: hidden;
    }
    .menu__body{
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: 0;
        background-color: #4d4959;
        padding: 80px 0 0 0;
        transition: all 0.8s ease 0s;
        transform: translateY(-100%);
    }
    .menu__body.active{
        transform: translateY(0);
    }
    .menu__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__list li{
        padding: 0 0 30px 0;
    }
    .menu__link{
        color:#fff;
        font-size: 24px;
    }
    .header__burger{
        display: block;
        position: absolute;
        top: 33px;
        right: 33px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }

    .header__burger:before,
    .header__burger:after {
            content:'';
            background: #4a4a4a;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger span{
        position: absolute;
        background-color: #4a4a4a;
        width: 100%;
        left: 0;
        height: 2px;
        top: 8px;

    }

        .header__burger.active span{
            transform: scale(0);
        }
        .header__burger.active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        .header__burger.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }



}

/* /header */


.img__menu {
    color: #777777;
    margin-top: 60px;
    margin-bottom: 60px;

    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}
    .img__menu span{
        font-size: 22px;
    }
    .img__menu a {
        text-decoration: none;
        color: #777777;
        padding: 10px;
}

.images {
    max-height: 1280px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   align-content: space-between;
}

    .images__item{
        flex: 0 1 33.3%;
        margin-bottom: 15px;
        /* 
        align-self: flex-start; */
    }
    
@media (max-width: 1200px) {
    .images {
        align-content: space-around;
        max-height: 2000px;
    }
}
@media (max-width: 992px) {
    .images {
        max-height: 3490px;
        align-content: center;
    }
}

/* /header */







.btn_all {
    text-align: center;
    margin-top: 40px;   
    margin-bottom: 130px;  
}

.btn_loadMore {  
    padding: 9px 25px;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    background-color: #959595;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 0.76px;
}

.footer_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}


.footer {
    text-align: center;
    margin-bottom: 50px;
}

.footer span {
    font-size: 16px;
    padding-right: 55px;
}

.footer__copyRight {
    margin-top: 30px;
    color: #9c9c9c;
    font-family: Roboto;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.33px;

}

.footer__copyRight-span {
    display: inline-block;
    color: #000000;
}


.heading {
    height: 351px;
    background-color: #f0f0f2;
    border-top: 2px solid #d5d5d6;
    margin-bottom: 75px;
}

.heading_img {
    float: right;
}

.our {
    color: #000;
}

.our_text {
    color: #b3b3b3;
    line-height: 2;
}

.at {
    margin-top: 100px;
    text-align: center;
}

.at_text {
    margin-top: 45px;
    text-align: center;
    color: #b3b3b3;
    line-height: 2;
}

.people {
    margin-top: 70px;
}

.people_work {
    color: #777777;
}

.people_lorem {
    color: #9c9c9c;

}

/* 

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
} */

/* .menu_item:hover {
    color: #000;
}



.slyder__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.LCA {
    display: inline-block; 
    padding: 0 40px;
    background-color: #000000;
    font-size: 55px;
    text-transform: uppercase;
    color: #ffffff;
}




.slyder p {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.3em;
}



.menu2 a:hover {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.images {
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
}

.images img {
  margin: -10px 15px;
}






 */