.container {
    max-width: 1190px;
    
}

h1 {
    margin-top: 5%;
    text-align: center;
}

input {
    max-width: 220px;
}

label {
    font-size: 22px;
}

.generator {
    margin-top: 15%;
    margin-bottom: 7%;
    display: flex;
    justify-content: space-between;
}

#but {
    margin-bottom: 3%;
}

@media screen and (max-width: 750px) {
    .generator  {
        flex-direction: column;
    }
}